name: windows-latest

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#configuring-a-build-matrix
    runs-on: windows-latest

    steps:
      - name: Install gtest
        run: vcpkg.exe install gtest:x64-windows

      - uses: actions/checkout@v2

      - name: Configure CMake
        # Note the current convention is to use the -S and -B options here to specify source
        # and build directories, but this is only available with CMake 3.13 and higher.
        # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
        run: cmake $GITHUB_WORKSPACE -B"${{runner.workspace}}/build" -DMUSTACHE_WARNINGS_AS_ERROR=OFF -DMUSTACHE_BUILD_TESTS=ON -DCMAKE_TOOLCHAIN_FILE="C:/vcpkg/scripts/buildsystems/vcpkg.cmake"

      - name: Build
        working-directory: ${{runner.workspace}}
        shell: bash
        # Execute the build.  You can specify a specific target with "--target <NAME>"
        run: cmake --build build --config $BUILD_TYPE

      - uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: ${{runner.workspace}}/build/bin/

      - name: Run tests
        run: ${{runner.workspace}}/build/bin/Release/mustache_test.exe
