name: build

on: [push]

jobs:

  linux:
    timeout-minutes: 10

    strategy:
      matrix:
        compiler:
          - pkg: g++-9
            exe: g++-9
          - pkg: g++-10
            exe: g++-10
          - pkg: g++-11
            exe: g++-11
          - pkg: g++
            exe: g++
          - pkg: clang-12
            exe: clang++-12
          - pkg: clang-13
            exe: clang++-13
          - pkg: clang-14
            exe: clang++-14
          - pkg: clang
            exe: clang++

    runs-on: ubuntu-latest

    steps:
      - name: Download Google Test
        run: |
          wget https://github.com/google/googletest/archive/release-1.12.1.tar.gz
          tar xvzf release-1.12.1.tar.gz

      - name: Build and install Google Test
        run: |
          cd googletest-release-1.12.1/
          cmake .
          make
          sudo make install
        
      - uses: actions/checkout@v2
      - name: Install compiler
        run: |
          sudo apt-get update
          sudo apt-get install ${{ matrix.compiler.pkg }} -y


      - name: Compile tests
        working-directory: build
        env:
          CXX: ${{ matrix.compiler.exe }}
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DMUSTACHE_BUILD_TESTS=ON ..
          make -j4
      - name: Run tests
        working-directory: build
        env:
          CTEST_OUTPUT_ON_FAILURE: 1
        run: ctest --timeout 60 -C Debug -j4

  linux-extra:
    timeout-minutes: 10

    strategy:
      matrix:
        compiler: [g++, clang++]
        cxx_std: [cxx_std_17, cxx_std_20]

    runs-on: ubuntu-latest

    steps:
      - name: Download Google Test
        run: |
          wget https://github.com/google/googletest/archive/release-1.12.1.tar.gz
          tar xvzf release-1.12.1.tar.gz

      - name: Build and install Google Test
        run: |
          cd googletest-release-1.12.1/
          cmake .
          make
          sudo make install
          
      - uses: actions/checkout@v2
      - name: Compile tests
        working-directory: build
        env:
          CXX: ${{ matrix.compiler }}
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DMUSTACHE_BUILD_TESTS=ON -DMUSTACHE_CXX_STD=${{ matrix.cxx_std }} ..
          make -j4
      - name: Run tests
        working-directory: build
        env:
          CTEST_OUTPUT_ON_FAILURE: 1
        run: ctest --timeout 30 -C Debug -j4
